<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('assets/app.css') }}">
    </head>
    <body class="bg-light">
        {% block body %}{% endblock %}
        {% block modal %}{% endblock %}
        {% block javascripts %}{% endblock %}
        
        <script src="{{ asset('assets/app.js') }}"></script>
    </body>
</html>

