{% extends 'base.html.twig' %}

{% block body %}
        <div id="container">  
            <p class="h1 text-warning text-center mt-5 p-5">
                Hello World! +Bootstrap +jQuery
            </p>
        </div>
{% endblock %}

{% block modal %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
{% set modal = true %}
{% if modal %}
    <hr><hr><hr>
{% endif %}

{% for letter in 'a'..'z' %}
    :: {{ letter }}
{% endfor %}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}


{% block javascripts %}
<script>
    console.log("Hello World")
</script>
{% endblock %}